body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

#qr-canvas {
    display: none;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#qr-file {
    margin-bottom: 1rem;
}

#qr-result {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: green;
}
